{% extends 'home/base.html' %}

{% block content %}

{% load static %}

<div class="aboutus-container">
  <h1>About Us</h1>

  <p>The UW Stout Spikeball Club is a group focused on having fun by playing Spikeball!
    We usually try to run a weekly pickup game and a weekly league each semester. We also
    want to run a tournament each semester that is open to off campus competitors. Our club
    has members of all skill levels, so if you're new to Spikeball, or a veteran player, we'd
    love to have you. For more information on meeting times, consider joining our <a href="https://connect.uwstout.edu/uwssc/home/" target="_blank">Connect Page</a>.</p>


  <h2>Officers</h2>
  <p>President: Jared Kula (contact: kulaj8122@my.uwstout.edu)<br>
    Vice President: Nathan Keep<br>
    Tournament Director: Noah Bluhm<br>
    League Director: Nathan Meeker</p>

  <h2>Links</h2>

  <p><a href="https://www.instagram.com/stoutspikers" target="_blank"><i class="bi bi-instagram" style="font-size:2rem;"></i></a></p>

  <br>
  <p>Site created by: Nathan Keep<br>
    Contact: ntkeep@gmail.com</p>
</div>

{% endblock %}
