.tournament-poster{
  position: relative;
}

.poster-overlay{
  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width:100%;
}

.poster-x{
  position:absolute;
  top:6%;
  left:93%;
  display:none;
  transform: translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
}


/* Pools css */
.pools-container{
  display:flex;
  justify-content: flex-start;
  background-color: #F6F6F6;
  border-radius: 10px;
  padding-left: 5px;
  max-width: 100%;
}

.pool{
  flex:1;
  display:flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-left: 5px;
}


/* Tournament css */
.tournament-container{
  width:100vw;
  overflow-x: scroll;
}

.tournament{
  display: flex;
  position: relative;
  background-color: #F6F6F6;
  border-radius: 10px;
  height: 1100px;
  width:1500px;
}

.tournament > div{
  flex:1;
  display:grid;
  align-content: space-around;
  overflow: hidden;
}

.blank-match{
  display: flex;
  flex:1;
  height: 60px;
}

@media only screen and (max-width: 600px) {
  .pools-container{
    width:95vw;
    flex-wrap:wrap;
    align-content: flex-start;
  }
  .pround{
    width:95vw;
  }

  .tournament-poster{
    display:none;
    position:absolute;
  }
  .poster{
    width:95vw;
    height:75vh;
    border-radius:10px;
    margin-top: 10px;
  }
  .poster-x{
    display:block;
  }


}
